.sidenav-container {
  height: 100%;
}

.sidenav {
  width: 200px;
}

.sidenav .mat-toolbar {
  background: inherit;
}

.mat-toolbar.mat-primary {
  position: sticky;
  top: 0;
  z-index: 1;
}

.container {
  padding-right: 15px;
  padding-left: 15px;
  position: relative;
  min-width: 768px;
  display: block;
}

.logo-mire {
  display: table;
  padding-top: 25px;
  padding-bottom: 25px;
  margin-right: auto;
  margin-left: auto;
}

.mat-toolbar-row, .mat-toolbar-single-row {
  height: 42px;
}
