
 <mat-toolbar>
   
    <button mat-button>Boton</button>
   
</mat-toolbar>
<div class="container">
<header class="logo-mire">
   <img class="img-responsive" src="https://mire.gob.pa/images/logo_mire_neww.png" alt="Ministerio de Relaciones Exteriores" width="389" height="81">
   <!--<mat-tab-group>
   <mat-tab label="One">
     <h1>Some tab content</h1>
     <p>...</p>
   </mat-tab>
   <mat-tab label="Two">
     <h1>Some more tab content</h1>
     <p>...</p>
   </mat-tab>
  </mat-tab-group>-->
 </header>
</div>



